@{
    ViewBag.Title = "Home Page";
}
<div class="index">
    <div class="container">
        <div class="index-container">
            <div class="description-first-index">
                <div class="index-title">
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, beatae provident? </h2>
                </div>
                <div class="block-center-index">
                    <a href="">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index1">
    <div class="container">
        <div class="index1-container">
            <div class="index1-mainflex">
                <div class="mainflex1">

                </div>
                <div class="mainflex2">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="index2">
    <div class="container">
        <div class="index2-container">
            <div class="index2-content">
                <div class="index2-info">
                    <div class="info">
                        <div class="info-content">
                            <div class="icon"><i class="fa fa-fighter-jet" aria-hidden="true" id="font"></i></div>
                            <div class="title">
                                скорость
                            </div>
                            <div class="description">
                                Описание
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-content">
                            <div class="icon">
                                <i class="fa fa-handshake-o" aria-hidden="true" id="font"></i>
                            </div>
                            <div class="title">
                                надежность
                            </div>
                            <div class="description">
                                Описание
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-content">
                            <div class="icon">
                                <i class="fa fa-print" aria-hidden="true" id="font"></i>
                            </div>
                            <div class="title">
                                качество
                            </div>
                            <div class="description">
                                Описание
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-content">
                            <div class="icon">
                                <i class="fa fa-angle-double-down" aria-hidden="true" id="font"></i>
                            </div>
                            <div class="title">
                                Название
                            </div>
                            <div class="description">
                                Описание
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>