@{
    ViewBag.Title = "Home Page";
}
<div class="index">
    <div class="container">
        <div class="index-container">
            <div class="description-first-index">
                <div class="index-title">
                    <h2 align="center">
                        у нас вы можете заказать изготовление: <br/>каталогов,
                        брошюр, журналов, рекламно - информационных буклетов и листовок, флаеров.
                    </h2>
                </div>
                <div class="block-center-index">
                    <a id="full" style="cursor:pointer">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="index1">
    <div class="container">
        <div class="index1-container">
            <div class="index1-mainflex">
                <div class="index1-flex-item">
                    <h1 style="color:white;margin-bottom:0">Мы предлагаем вам:</h1>
                </div>
                <div class="index1-flex-item">
                    <div class="index1-flex-item-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
                    <div class="index1-flex-item-text"><span><b>ХОРОШО СОСТАВЛЕННЫЙ ПРАЙС-ЛИСТ СО ВСЕМИ УСЛУГАМИ ДЛЯ ФИЗИЧЕСКИХ МАГАЗИНОВ</b></span></div>
                </div>
                <div class="index1-flex-item">
                    <div class="index1-flex-item-icon"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
                    <div class="index1-flex-item-text"><span><b>ВОЗМОЖНОСТЬ ОНЛАЙН-ОФОРМЛЕНИЯ</b></span></div>
                </div>
                <div class="index1-flex-item">
                    <div class="index1-flex-item-icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                    <div class="index1-flex-item-text"><span><b>ХОРОШАЯ ТЕХ.ПОДДЕРЖКА И ОБРАТНАЯ СВЯЗЬ</b></span></div>
                </div>
                <div class="index1-flex-item">
                    <div class="index1-flex-item-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                    <div class="index1-flex-item-text"><span><b>БОЛЬШОЕ КОЛИЧЕСТВО ЭЛЕМЕНТОВ. ЕЖЕДНЕВНО ДОБАВЛЯЕМЫЕ</b></span></div>
                </div>
            </div>
            </div>
        </div>
    </div>
<div class="index2">
    <div class="container">
        <div class="index2-container">
            <div class="index2-content">
                <div>
                    <h1 style="color:white;margin-bottom:0">Наше достояние:</h1>
                </div>
                <div class="index2-info">
                    <div class="info">
                        <div class="info-content">
                            <div class="icon"><i class="fa fa-fighter-jet" aria-hidden="true" id="font"></i></div>
                            <div class="title">
                                скорость
                            </div>
                            <div class="description">
                                быстрое создание, быстрая доставка
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-content">
                            <div class="icon">
                                <i class="fa fa-handshake-o" aria-hidden="true" id="font"></i>
                            </div>
                            <div class="title">
                                надежность
                            </div>
                            <div class="description">
                                безопасно, и никакой химии
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-content">
                            <div class="icon">
                                <i class="fa fa-print" aria-hidden="true" id="font"></i>
                            </div>
                            <div class="title">
                                качество
                            </div>
                            <div class="description">
                                лучшее качество только у нас
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <div class="info-content">
                            <div class="icon">
                                <i class="fa fa-angle-double-down" aria-hidden="true" id="font"></i>
                            </div>
                            <div class="title">
                                доступность
                            </div>
                            <div class="description">
                                доступное качество по доступной цене
                            </div>
                        </div>
                    </div>
                </div>
                <div style="width:100%;height:auto;color:cornsilk;text-indent:10px;padding-left:20px;padding-right:20px;font-size:20px">
                Наша типография предлагает полиграфические услуги, включающие изготовление широкого спектра рекламной и деловой печатной продукции с возможностью дополнительной обработки в зависимости от дизайна полиграфии. 
                <p>На сайте Вы можете заказать оперативное изготовление визиток, рекламных листовок, блокнотов, приглашений, магнитов, флаеров и плакатов, а также многое другое. 
                </div>
                <div class="block-center-index gocat">
                    @Html.ActionLink("перейти в каталог", "Catalog" , null,htmlAttributes:new { style="cursor:pointer;color:white" })
                </div>
            </div>
        </div>
    </div>
</div>