
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="info-page">
    <div class="container">
        <div class="info-container">
            <div class="logo-info">
                <img src="~/Content/Images/logo-info.png" alt="" width="200px" height="100px">
            </div>
            <div class="info-content-text">
                <h3 align="center">О нас</h3>
                <p style="padding-left:20px;padding-right:20px;line-height:25px;display:block;font-weight: bold;font-size: large;">
                    EMERALD – это интернет-магазин типографии.Группа компаний «EMERALD» - успешное предприятие, созданное 20 лет назад на базе типографии.<br>

                    Типография оснащена новым восокоавтоматизированным оборудованием. Парк оборудования включает более 70 едениц, располагающихся на производственной площади 2500м2.<br>

                    Производственные мощности полностью обеспечивают допечатный, печатный и послепечатный процессы, включая упаковку и доставку. Управление заказами осуществляется в программе CRM, с помощью которой также настраивается и контролируется рабочий поток на производстве.<br>

                    Предприятие в 2012 году прошло сертификацию на соответствие международному стандарту качества офсетной печати ISO 12647-2<br>

                    Мы предлагаем все виды полиграфии, полный спектр полиграфических работ.

                    Задача EMERALD - это прежде всего оперативное и качественное обслуживание клиентов с использованием онлайн сервиса по производству печатной продукции.

                    В нашем интернет-магазине Вы сможете самостоятельно сформировать заказ, используя простой и понятный интерфейс. Для каждого вида продукции присутствует необходимое описание. Вам остается только загрузить свой макет или выбрать товар из каталога. При необходимости Вы можете воспользоваться услугами наших дизайнеров

                    По любым возникающим вопросам – обращайтесь к нашим менеджерам. Для удобства запроса Вы можете использовать форму обратной связи

                    Через менеджера типографии Вы можете разместить заказ на полиграфию любой сложности, даже не представленной в нашем интернет магазине.

                    К Вашим услугам цифровая, офсетная, трафаретная, широкоформатная, тампонная печать и все возможные виды отделки.

                    20-летний опыт работы и качество международного уровня.
                </p>
            </div>
            <div class="callback-form" id="cf">
                @using (Ajax.BeginForm("send",null, new AjaxOptions() { UpdateTargetId = "cf" },htmlAttributes: new { id="callbackform" }))
                {
                    <h2>Форма обратной связи</h2>
                    <input type="text" name="surname" placeholder="Введите фамилию" />
                    <input type="text" name="name" placeholder="Введите имя" />
                    <input type="text" name="patro" placeholder="Введите отчество" />
                    <input type="number" name="number" placeholder="Введите контактный номер телефона" />
                    <textarea name="question" placeholder="Задайте свой вопрос" style="width:250px"></textarea>
                    <input type="submit" value="Отправить" />
                }
            </div>
        </div>
    </div>
</div>
