
@{
    ViewBag.Title = "price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="price">
    <div class="container">
        <div class="price-container">
            <div class="table-title">
                <h1>Ч/б печать или копирование</h1>
            </div>
            <div class="table">
                <table border="1">
                    <tbody>
                        <tr>
                            <td>Кол-во листов</td>
                            <td>1</td>
                            <td>20</td>
                            <td>50</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Общая стоимость</td>
                            <td>11</td>
                            <td>90</td>
                            <td>124</td>
                            <td>322</td>
                        </tr>
                        <tr>
                            <td>Цена одного листа</td>
                            <td>11</td>
                            <td>4.5</td>
                            <td>3.7</td>
                            <td>3.2</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="price-container">
            <img src="/Images/Price-1.gif" alt="" width="100%" height="auto">
            </div>
            <div class="price-container">
                <img src="/Images/Price-2.gif" alt="" width="100%" height="auto">
            </div>
            <div class="price-container">
                <img src="/Images/Price-3.gif" alt="" width="100%" height="auto">
            </div>
            <div class="price-container">
                <img src="/Images/Price-4.gif" alt="" width="100%" height="auto">
            </div>
        </div>
    </div>
</div>

