@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/admin.css">
    <title>Панель</title>
</head>
<body>
    <div class="modal">
        <div class="modal-form">
            <div class="modal-header">
                <a style="margin-left:20px;">Редактирование</a>
                <a style="margin-right:20px; cursor:pointer" id="exitmodal">x</a>
            </div>
            <div class="modal-body">
                <ul>
                    @using (Ajax.BeginForm("editsketch", "Content", new AjaxOptions() {  OnSuccess="editsketch"}))
                    {
                        <li>
                            <span>Наименование</span>
                        </li>
                        <li>
                            <input id="name" name="name" type="text" placeholder="Наименование" value="" required>
                        </li>
                        <li>
                            <span>Материал</span>
                        </li>
                        <li>
                            <input id="material" name="material" type="text" placeholder="Материал" value="" required>
                        </li>
                        <li>
                            <span>Стоимость</span>
                        </li>
                        <li>
                            <input id="cost" name="cost" type="number" placeholder="Стоимость" value="" required>
                        </li>
                        <li>
                            <span>Описание</span>
                        </li>
                        <li>
                            <input id="desc" name="desc" type="text" placeholder="Описание" value="" required>
                        </li>
                        <li>
                            <img src="" name="imgsketch" id="imgsketch" alt="грузица" width="150" height="150"/>
                        </li>
                        <li>
                            <input type="hidden" id="idsketch" name="idsketch" value="" />
                            <input type="hidden" id="typesketch" name="idtypesketch" value="" />
                            <input type="submit" id="saveeditsketch" value="Сохранить">
                        </li>
                        <li id="save"></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="main">
            <div class="aside">
                <ul>
                    <li>
                        <a id="stats" style="cursor:pointer">Статистика</a>
                    </li>
                    <li>
                        <a id="content" style="cursor:pointer">Эскизы</a>
                    </li>
                    <li>
                        <a id="typesk" style="cursor:pointer">Типы эскизов</a>
                    </li>
                    <li>
                        <a id="orders" style="cursor:pointer">Заказы</a>
                    </li>
                    <li>
                        <a id="callback" style="cursor:pointer">Поддержка</a>
                    </li>
                    <li>
                        <a id="" style="cursor:pointer">Настройки(скоро)</a>
                    </li>
                </ul>
            </div>
            <div class="main-r">
                <div>
                    <h1>Панель управления контентом</h1>
                </div>
                <div>
                    <h2>Выберите соответствующий пункт меню для начала работы.</h2>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-title">Version 1.0x</div>
        </div>
    </div>
    <div class="modal1">
        <div class="modal-form">
            <div class="modal-header">
                <a style="margin-left:20px;">Ответ пользователю</a>
                <a style="margin-right:20px; cursor:pointer" id="exitmodal1">x</a>
            </div>
            <div class="modal-body">
                <ul>
                    @using (Ajax.BeginForm("answerquest", "Content", new AjaxOptions() { OnSuccess = "" }))
                    {
                        <li>
                            <textarea name="mail" id="mail" cols="20" rows="10"></textarea>
                        </li>
                        <li>
                            <input type="submit" id="requestanswer" value="Отправить">
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/JavaScript/jquery-3.3.1.js")
    @Scripts.Render("~/JavaScript/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/JavaScript/AdminAJAX.js")
</body>
</html>
