a:link{
    text-decoration: none;
}
a:active{
    color:black;
}
a:visited{
    color:black;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
.wrapper { 
margin:0 auto;
width: 1300px;
height:700px;
}
.main {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: burlywood;
}

.main-r{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
}

td{
    text-align:center;
}

.aside{
    width: 200px;
    height: 100%;
    background: grey;
    position:relative;
}

.aside ul{
    list-style: none;
    padding-left: 0px;
    margin:0;
    width: 100%;
    position:sticky;
    top:0;
    left:0;
    
}

.aside ul li{
    
    height: 40px;
    border-bottom:1px solid black;
}

.aside ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.footer { 
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: lightblue;
    display:flex;
    justify-content:center;
    align-items:center;
}
.menu {
    width:100%;
    height:100%;
    padding:0;
    background:#0094ff;
    border:0;
    color:white;
}
    .menu:hover{
        border:2px solid red;
    }
    .aside ul li form {
        width: 100%;
        height: 100%;
    }
table{
    background:red;
}
tr{
    background:white;
}
.statistic{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.counter{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100%;
}

.stat-counter{
    display:inline-flex;
    justify-content:space-evenly;
    width:100%;
}
.stats-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.addsketch {
    height: auto;
    background: burlywood;
    width: 500px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom:40px;
}
.form-addsketch{
    display:flex;
    flex-direction:column;
    padding:10px;
    
}

h2,h3{
    margin-top:0;
    margin-bottom:0;
}

.table{
  padding-bottom:30px;
}

.form-addsketch div{
    margin-top:10px;
    display:inline-flex;
    justify-content:space-between;
    width:100%;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: auto;
    z-index: 999;
}

.modal-form {
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 20px;
    position: fixed;
}

.modal-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid grey;
}

    .modal-header a {
        color: black;
        display: block;
        display: block;
    }

.modal-body ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

    .modal-body ul li {
        margin-top: 10px;
    }