/* ОБОЛОЧКА */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    min-width: 550px;
    height: max-content;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

a:link, a:visited {
    color: #1e4234;
    text-decoration: none;
    font-weight: bold;
}

.btn-buy, #favorites{
    font-weight:bold;
}

#favorites{
    text-align:center;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

#result {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#submit {
    cursor: pointer;
    color: #20b47c;
    background: white;
    border: 0;
}

.header-menu {
    flex-basis: 80%;
    display: flex;
    justify-content: center;
    background: blanchedalmond;
    border-radius: 40px 0px 0px 40px;
}

    .header-menu ul {
        display: inline-flex;
        list-style: none;
        padding-left: 0;
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 20px;
        font-size:2.5vh;
    }

        .header-menu ul li:hover {
            border-bottom: 2px dashed #20b47c;
        }

        .header-menu ul li {
            height: min-content;
            cursor: pointer;
            color: #20b47c;
            padding: 5px;
            border-bottom: 2px solid darkslateblue;
            font-size: larger;
        }


.header-icon {
    width: 20%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .container {
    width: 1300px;
    min-width: 550px;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    height: 80px;
    display: inline-flex;
    justify-content: space-between;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    justify-content: center;
}

.main-item {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 30px
}

.photo {
    width: 400px;
    height: 200px;
    background: grey;
    border-radius: 20px;
}


.btn {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-variant: small-caps;
}

.btn-buy {
    padding: 5px;
    background: #90d8f9;
    flex-basis: 48%;
    text-align: center;
}

.btn-izbr {
    flex-basis: 48%;
    background: #ffde70;
}
    .btn-izbr a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5px;
    }

.footer {
    width: 100%;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 60px;
    background: #503232;
}

.footer-container {
    width: 100%;
    display:inline-flex;
    justify-content:space-evenly;
    align-content:center;

}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}
#link {
    cursor: pointer;
}
/* ОБОЛОЧКА */

/* ИНДЕКС */

.index {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.index1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.index-container {
    height: 500px;
    width: 100%;
    background: url('Images/logo2.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.description-first-index {
    width: 100%;
    height: 100%;
    background: rgba(78, 78, 78, 0.63);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-center-index {
    padding: 10px;
    font-size: 25px;
    font-variant: small-caps;
    color: white;
    background: orangered;
    border-radius:10px;
}

.index1-mainflex {
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    height: 800px;
    width: 100%;
    background: rgba(78, 78, 78, 0.9);
}

.mainflex1 {
    flex-basis: 50%;
    height: 100%;
}

.mainflex2 {
    flex-basis: 50%;
    height: 100%;
}

.index-title {
    color: white;
    font-variant: small-caps;
}

.index1-container {
    height: 800px;
    width: 100%;
    background: url('Images/left.jpg');
    background-size: 100% 100%;
    background-attachment:fixed;
}

.index2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.index2-container {
    width: 100%;
    height: auto;
    background: url('Images/fon2.jpg');
    background-size: cover;
}

.index2-content {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.637);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.index2-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#font {
    font-size: 120px;
    color: rgb(0, 255, 213);
}

.title, .description {
    color: white;
    font-size: 22px;
    font-variant: small-caps;
}

.description {
    text-align:center
}

.title {
    letter-spacing: 4px;
}

.gocat {
    background: #10286c;
    border-radius: 20px;
    cursor:pointer;
}

.topbody {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-basis: 33%
}


#topbody {
    cursor: pointer;
    font-variant: small-caps;
    color: cornsilk;
    padding: 14px;
    border-radius: 50%;
    font-size: 30px;
}
.index1-flex-item {
    display:inline-flex;
    justify-content:center;
    align-items:center;
}
.index1-flex-item-icon {
    width:90px;
    height:90px;
    border-radius:50%;
    margin-right:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.index1-flex-item:nth-child(2) .index1-flex-item-icon {
    background: white;
}
.index1-flex-item:nth-child(3) .index1-flex-item-icon {
    background-color: palevioletred;
}
.index1-flex-item:nth-child(4) .index1-flex-item-icon {
    background-color:cadetblue;
}

.index1-flex-item:nth-child(5) .index1-flex-item-icon {
    background-color: yellow;
}

.index1-flex-item-text {
    width: 70%;
    height: 90px;
    background-color: blanchedalmond;
    border-radius: 20px;
    display:flex;
    justify-content:center;
   align-items:center;
   text-align:center;
   font-size:22px;
}
.index1-flex-item-icon i {
font-size:32px;
}
/* ИНДЕКС */

/* infopage */

.info-page { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
.info-container { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-color: #3b494c;
}

.logo-info{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
tbody td{
    min-width: 100px;
    text-align: center;
}
tbody{
    background: aliceblue;
}
.info-content-text{
    height: auto;
    width: 70%;
    background-color: blanchedalmond;
    border-radius: 20px;
    margin-bottom: 80px;
    margin-top:20px;
}

.callback-form {
    height: 400px;
    width: 70%;
    background-color: cadetblue;
    border-radius: 30px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#callbackform {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}

#callbackform input {
    padding: 5px;
    width:250px;
}
/* infopage */

/* price */

.table-title h1{
    color:aliceblue;
}
.table{
    margin-bottom: 40px;
    font-size: 4vh;
}
.price { 
    display:flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: #25213ac4;
}
.price-container { 
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* price */

/* info-tovar */

.tovar-info {
    width: 100%;
    height: auto;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

 .image-item { 
width: auto;
height: auto;
margin-right:40px;
margin-bottom:20px;
display:flex;
justify-content:center;
align-items:center;
 }
.item-info {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 34px;
    border-radius:10px;
    background: cornsilk;
    padding: 10px;
}
.infobuy form {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background: #1c5224;
    border-radius: 20px;
    align-items: space-around;
    padding: 10px;
    margin: 0 auto;
}

    .infobuy form > div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
    .infobuy form>div div{
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
.infobuy form input{
    padding:5px;
    margin-top:10px;
    width:250px;

}
select,textarea {
height:29.43px;
width:250px;
margin-top:10px;
}
.infobuy {
    display: none;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: radial-gradient(rgb(241, 120, 53), antiquewhite 70%);
}
/* info-tovar */